<div class="container p-5 mt-5 w-100">
  <div class="row text-light">
    <div class="col-6">
      <h5 class="fw-bold">Server</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus
        nibh eu dolor dapibus rhoncus. Donec faucibus tellus nisl, eget commodo
        risus posuere vel. Donec mollis magna eu mi condimentum vestibulum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et
        varius eros. Pellentesque sit amet nisi tristique, tincidunt metus.
      </p>
    </div>
    <div class="col-2"></div>
    <div class="col">
      <div class="row">
        <div class="col"><h5 class="fw-bold">Links</h5></div>
        <div class="col"><h5 class="fw-bold">Weitere Links</h5></div>
      </div>
      <div class="row">
        <div class="col">
          <a
            class="link-light link-underline-opacity-0 link-opacity-50-hover"
            href=""
            >Link 1</a
          >
        </div>
        <div class="col">
          <a
            class="link-light link-underline-opacity-0 link-opacity-50-hover"
            href=""
            >Link 2</a
          >
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <a
            class="link-light link-underline-opacity-0 link-opacity-50-hover"
            href=""
            >Link 3</a
          >
        </div>
        <div class="col">
          <a
            class="link-light link-underline-opacity-0 link-opacity-50-hover"
            href=""
            >Link 4</a
          >
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a
            class="link-light link-underline-opacity-0 link-opacity-50-hover"
            href=""
            >Link 5</a
          >
        </div>
        <div class="col">
          <a
            class="link-light link-underline-opacity-0 link-opacity-50-hover"
            href=""
            >Link 6</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
