<div class="container py-4 w-100">
  <div class="row justify-content-end">
    <div class="col-md-auto">
      <button
        class="btn btn-warning"
        routerLink="/start"
        routerLinkActive="active"
      >
        Start
      </button>
    </div>
    <div class="col-md-auto">
      <button
        class="btn btn-warning"
        routerLink="/faq"
        routerLinkActive="active"
      >
        FAQ
      </button>
    </div>
    <div class="col-md-auto">
      <button
        class="btn btn-warning"
        routerLink="/example"
        routerLinkActive="active"
      >
        Eierlecker 2000
      </button>
    </div>
  </div>
</div>
