@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: 'Inter', serif;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background-color: #0a3161;
}

::selection {
  background: #0a3161;
  color: #fff;
}
::-moz-selection {
  background: #0a3161;
  color: #fff;
}

.white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.red {
  color: #b31942;
}

.bg-red {
  background-color: #b31942;
}

.blue {
  color: #0a3161;
}

.bg-blue {
  background-color: #0a3161;
}

.btn-blue {
  color: #fff;
  background-color: #0a3161;
  text-transform: uppercase;

  &:hover {
    color: #fff;
    background-color: #0a3161;
    border-width: 1px;
    border-color: #fff;
  }

  &:active {
    color: #fff;
    background-color: #0a3161;
  }

  &:focus {
    color: #fff;
    background-color: #0a3161;
  }

  &:focus-visible {
    color: #fff;
    background-color: #0a3161;
  }
}
