<div class="vh-100 p-5" id="overview">
  <img
    class="z-n1 img-fluid position-absolute top-0 start-0"
    src="https://wallpapercave.com/wp/wp2455942.jpg"
    alt=""
  />
  <div
    class="container bg-black mt-5 rounded-5 shadow position-absolute top-50 start-50 translate-middle h-75"
    style="--bs-bg-opacity: 0.75"
  >
    <div class="position-relative top-50 start-50 translate-middle w-75 p-5">
      <h1 class="red fw-bold">Lorem ipsum dolor</h1>
      <p class="white">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <section class="bg-dark white my-5 rounded-5 shadow" id="info">
    <div class="p-5">
      <div class="row text-center my-5">
        <div class="col">
          <h1 class="red fw-bold">Lorem ipsum dolor sit amet.</h1>
        </div>
      </div>
      <div class="row my-5">
        <div class="col">
          <h2>Lorem ipsum</h2>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At
          </p>
        </div>
        <div class="col">
          <h2>Lorem ipsum</h2>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At
          </p>
        </div>
      </div>
      <div class="row my-5">
        <div class="col">
          <h2>Lorem ipsum</h2>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At
          </p>
        </div>
        <div class="col">
          <h2>Lorem ipsum</h2>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-dark white my-5 rounded-5" id="faq">
    <div class="container p-5">
      <div class="row text-center my-5">
        <div class="col">
          <h1 class="red fw-bold">FAQ</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p-panel [toggleable]="true" toggler="header" [collapsed]="true">
            <ng-template #header>
              <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
            </ng-template>
            <p class="m-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </p-panel>
        </div>
      </div>
      <div class="row my-5">
        <div class="col">
          <p-panel [toggleable]="true" toggler="header" [collapsed]="true">
            <ng-template #header>
              <h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                rutrum magna est, nec lobortis nunc cursus at?
              </h3>
            </ng-template>
            <p class="m-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Vestibulum finibus purus in.
            </p>
          </p-panel>
        </div>
      </div>
      <div class="row my-5">
        <div class="col">
          <p-panel [toggleable]="true" toggler="header" [collapsed]="true">
            <ng-template #header>
              <h3>Lorem ipsum dolor sit amet?</h3>
            </ng-template>
            <p class="m-2">Lorem ipsum dolor.</p>
          </p-panel>
        </div>
      </div>
    </div>
  </section>
</div>
